body {
    background-color: #fff;
}

header {
    background-color: #FAFAFA;
    border-bottom: 1px solid #ccc;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.navigation {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 26px 20px;
    flex-wrap: wrap;
}

.navigation a {
    color: #111;
}

.instalogo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30%;
}

.instalogo a {
    font-size: 25px;
    padding-left: 30px;
}

.vl {
    border-left: 1.5px solid #111;
    height: 30px;
    margin-left: 20px;
}

.contact_icons {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    /* padding-left: 100px; */
}

.contact_icons a {
    padding-left: 30px;
    font-size: 25px;
    font-weight: lighter;
}

.search_bar {
    display: flex;
    width: 30%;
    justify-content: center;
    border-radius: 3px;
    color: #999;
    cursor: text;
    text-align: center;
    position: absolute;
}

.search_bar a {
    font-size: 25px;
    padding-left: 15px;
}

.content-container {
    background-color: #FAFAFA;
    padding-top: 50px;
    position: absolute;
    width: 100%;
    top: 83px;
    left: 0;
}

.card {
    background-color: #fff;
    margin: 0 auto;
    width: 614px;
    height: auto;
    border: .8px solid #ccc;
    border-radius: 4px;
    margin-bottom: 60px;
    margin-top: 100px;
}

.card_header {
    padding: 10px;
}

.card_header a {
    text-decoration: none;
    color: black;
}

.profile_image {
    display: inline-block;
    background-color: cornflowerblue;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    border: 0 solid #000;
    border-radius: 50%;
}

.post_info {
    display: inline-block;
    padding-left: 14px;
}

.post_name {
    font-size: 14px;
    color: #111;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.post_location {
    font-size: 12px;
    color: darkgray;
    padding: 0;
    margin: 0;
}

.post_options {
    font-size: 15px;
    display: inline-block;
    float: right;
    margin: 4px;
    padding: 5px;
    color: #cccc;
}

.post_image {
    width: 100%;
    height: 614px;
}

.engagement {
    display: inline-block;
    width: 100%;
    margin: 4px 0px 0px;
    padding: 0px 16px;
}